@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.content {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header, 
.footer {
  display: flex;
  flex: auto;
  flex-direction: row;
}

.header {
  justify-content: flex-start;
  max-height: 15px;
  align-content: center;
  padding: 16px;

}

.footer {
  justify-content: flex-end;
  max-height: 15px;
  background-color: #ddb15f;
  align-content: center;
  padding: 16px;
}

.left-links {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: flex-start;
  list-style: none;
  gap: 8px;
  padding: 0px;
}

.right-links {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: flex-end;
  list-style: none;
  gap: 8px;
  padding: 0px;
}

.footer .left-links,
.footer .right-links {
  align-items: flex-end;
}

.header .left-links,
.header .right-links {
  align-items: flex-start;
}

a:link, 
a:visited,
a:hover, 
a:active {
  text-decoration: none;
  color: rgb(75, 73, 73);
}